# OpenPDC API
OpenPdc__BaseUrl=https://openpdc-instance/wp-json/owc/pdc/v1/

# OpenObjects API
OpenObjects__BaseUrl=http://localhost:8000
OpenObjects__Token=api-token

# Migration settings
Migration__ObjectTypeUrl=http://localhost:8000/api/v2/objecttypes/<object-type-uuid>
Migration__PdcItemBaseUrl=https://openpdc-instance/wp-json/owc/pdc/v1/items
Migration__OwmsUrl=https://openpdc-instance
Migration__OwmsIdentifier=https://openpdc-instance/org/<owms-id>
Migration__OwmsEndDate=2026-12-31T23:59:59Z
Migration__Doelgroep=eu-bedrijf
