# OpenPDC API (WordPress REST API)
OpenPdc__BaseUrl=https://rheden-nl.ontw.stuurlui.dev/wp-json/wp/v2/
OpenPdc__Username=your-wp-username
OpenPdc__Password=your-wp-application-password
OpenPdc__ItemBaseUrl=https://rheden-nl.ontw.stuurlui.dev/wp-json/wp/v2/product

# OpenObjects API
OpenObjects__Token=api-token
OpenObjects__ObjectTypeUrl=http://localhost:8000/api/v2/objecttypes/<object-type-uuid>
OpenObjects__ObjectTypeVersion=1
OpenObjects__OwmsUrl=https://rheden-nl.ontw.stuurlui.dev
OpenObjects__OwmsIdentifier=https://rheden-nl.ontw.stuurlui.dev/org/<owms-id>
OpenObjects__OwmsEndDate=2099-12-31T23:59:59Z
